
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
  	<div class="login">
    <h1>学生管理登录系统</h1>
  
    <form action="homepage" method="post">
        <p>
            <span>用户名:</span>
            <br>
            <input id="userid" name="userid" type="text">
        </p>
        <p>
            <span>密码:</span>
            <br>
            <input id="password" name="password" type="password">
        </p>
        <p><input type="submit" value="登陆"></p>
    </form>
    </div>
  </body>
</html>
