<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>学生信息管理系统</h1>
    <p> <%= title %></p>
    <p>正在退出...</p>
    <script type="text/javascript">
        setTimeout(function(){
            window.location.href = "/";
        }, 500);
    </script>
  </body>
</html>